@model ProyectoFinal.Models.CarritoDeCompras

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GraciasPorTuCompra</title>
</head>
<body>
    <div>
        <h2>¡Gracias por tu compra!</h2>
        <p>Tu pedido ha sido confirmado y está siendo procesado.</p>

    </div>
</body>
</html>
