@model IEnumerable<ProyectoFinal.Models.ItemDeCarrito>

@{
    ViewBag.Title = "Carrito de Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />

    @if (!Model.Any())
    {
        <p>El carrito de compras está vacío.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Producto.nombreProducto</td>
                        <td>@item.Cantidad</td>
                        <td>₡@item.Producto.precioProducto</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
