/* Set padding to keep content from hitting the edges */
.body-content {
padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 0;
}

    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
        margin-top: 0px;
        margin-bottom: 0px;

    }

.book-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
}

.card {
    flex: 0 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.button-group {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
}

.btn {
    width: 45%;
    margin-bottom: 0.5rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    margin-right: 10px;
    width: auto;
}
