@model IEnumerable<ProyectoFinal.Models.Productos>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section aria-labelledby="featuredBooksTitle">
        <h1 id="featuredBooksTitle">Libros Disponibles</h1>
    </section>
    <div class="book-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <img src="@item.imagenAlmacenada" class="card-img-top" alt="@item.nombreProducto">
                <div class="card-body">
                    <h5 class="card-title">@item.nombreProducto</h5>
                    <p class="card-text"><strong>Precio:</strong> $@item.precioProducto</p>
                    <div class="button-group">
                        <a href="#" class="btn btn-primary btn-sm">Comprar Ahora</a>
                        <a href="#" class="btn btn-secondary btn-sm">Ver Mas</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>